.portfolio__list {
  max-width: 2060px;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
}

.portfolio__list-item {
  max-width: calc(50% - 25px);
}
.portfolio__list-item ul {
  min-height: 130px;
  align-content: space-between;
}

.image_greyscale_block {
  aspect-ratio: 2;
  max-width: 100%;
  max-height: 100%;
}

@media all and (max-width: 1881px) {
  .portfolio__list {
      gap: 42px;
  }
  .portfolio__list-item {
    max-width: calc(50% - 21px);
  }
  .portfolio__list-item ul {
    min-height: 117px;
  }
}

@media all and (max-width: 1381px) {
  .portfolio__list {
    gap: 35px;
  }
  .portfolio__list-item {
    max-width: calc(50% - 18px);
  }
  .portfolio__list-item ul {
    min-height: 100px;
  }
}

@media all and (max-width: 1225px) {
  .portfolio__list {
    gap: 30px;
  }
  .portfolio__list-item {
    max-width: calc(50% - 15px);
  }
  .portfolio__list-item ul {
    min-height: 90px;
  }
}

@media all and (max-width: 961px) {
  .portfolio__list-item {
    max-width: 100%;
  }
}