.solutions__list-item {
  max-width: calc(50% - 25px);
}

.image_greyscale_block {
  aspect-ratio: 1;
  width: 23%;
  max-width: 100%;
  max-height: 100%;
}

.solutions__popup__form {
  animation: 0.3s showModal ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  padding: 50px;
  width: 530px;
  height: 485px;
}

.solutions__popup__form_close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.solutions__popup__image {
  max-width: 90%;
  max-height: 90%;
}

.solutions__popup__form input {
  font-family: 'Montserrat-Medium';
  font-size: 1rem;
  background: #e1e1e1;
  color: #000000;
  border: none;
  box-sizing: border-box;
  height: 50px;
  border-radius: 10px;
  padding: 20px;
}

.solutions__popup__form input::placeholder {
  color: #909090;
  ;
  opacity: 1;
}

@media all and (max-width: 1881px) {
  .solutions__list-item {
    max-width: calc(50% - 42px);
  }
}

@media all and (max-width: 1381px) {
  .solutions__list-item {
    max-width: calc(50% - 35px);
  }
  
  .solutions__popup__form {
    border-radius: 7px;
    padding: 35px;
    width: 370px;
    height: 340px;
  }

  .solutions__popup__form_close-btn {
    top: 35px;
    right: 35px;
    width: 11px;
    height: 11px;
  }

  .solutions__popup__form input {
    height: 35px;
    border-radius: 7px;
    padding: 14px;
  }
}

@media all and (max-width: 1225px) {
  .solutions__list-item {
    max-width: calc(50% - 30px);
  }
}

@media all and (max-width: 961px) {
  .solutions__list-item {
    max-width: 100%;
  }
}