.image_block img {
  width: 100%
}

.image_greyscale_block img {
  width: 100%;
  max-height: 250px;
}

.blog-profile__similar {
  width: 530px;
  min-height: 100%;
  border-left: 1px solid #cecece;
}

.blog-profile__similar-item h4:hover {
  cursor: pointer;
}
.blog-profile__similar-item {
  opacity: 0.9;
}
.blog-profile__similar-item:hover {
  opacity: 1;
}
.blog-profile__similar-item:hover h4 {
  color: #000000;
}

@media all and (max-width: 1881px) {
  .image_greyscale_block img {
    max-height: 210px;
  }
  .blog-profile__similar {
    width: 445px;
  }
}

@media all and (max-width: 1381px) {
  .image_greyscale_block img {
    max-height: 175px;
  }
  .blog-profile__similar {
    width: 370px;
  }
}

@media all and (max-width: 961px) {
  .blog-profile {
    flex-direction: column;
  }
  .blog-profile__similar-item--title {
    flex-direction: column;
    align-items: flex-start;
  }
  .image_greyscale_block img {
    aspect-ratio: 2.1;
    max-height: 100%;
  }
  .blog-profile__similar {
    width: 100%;
    border-top: 1px solid #cecece;
    border-left: none;
  }
}