@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPT-Heavy.eot');
	src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
		url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT-Heavy.woff') format('woff'),
		url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT Demi';
	src: url('../fonts/FuturaPT-Demi.eot');
	src: local('Futura PT Demi'), local('FuturaPT-Demi'),
		url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT-Demi.woff') format('woff'),
		url('../fonts/FuturaPT-Demi.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.eot');
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Medium.woff') format('woff'),
		url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPT-Medium.eot');
	src: local('Futura PT Medium'), local('FuturaPT-Medium'),
		url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT-Medium.woff') format('woff'),
		url('../fonts/FuturaPT-Medium.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT Book';
	src: url('../fonts/FuturaPT-Book.eot');
	src: local('Futura PT Book'), local('FuturaPT-Book'),
		url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT-Book.woff') format('woff'),
		url('../fonts/FuturaPT-Book.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

.f-weight-900 {
	/* Futura PT Heavy */
	font-family: 'Futura PT';
	font-weight: 900;
}

.f-weight-800 {
	/* Futura PT Demi */
	font-family: 'Futura PT Demi';
	font-weight: 800;
}

.f-weight-700 {
	/* Montserrat Bold */
	font-family: 'Montserrat';
	font-weight: 700;
}

.f-weight-600 {
	/* Montserrat SemiBold */
	font-family: 'Montserrat';
	font-weight: 600;
}

.f-weight-500 {
	/* Montserrat Medium */
	font-family: 'Montserrat';
	font-weight: 500;
}

.f-weight-400 {
	/* Futura PT Medium */
	font-family: 'Futura PT';
	font-weight: 400;
}

.f-weight-300 {
	/* Futura PT Book */
	font-family: 'Futura PT Book';
	font-weight: 300;
}

.f-size-75 {
	font-size: 0.75rem;
}

.f-size-80 {
	font-size: 0.8rem;
}

.f-size-100 {
	font-size: 1rem;
}

.f-size-110 {
	font-size: 1.10rem;
}

.f-size-160 {
	font-size: 1.6rem;
}

.line-height-90 {
	line-height: 0.9rem;
}

.line-height-100 {
	line-height: 1rem;
}

.line-height-150 {
	line-height: 1.5rem;
}

.l-spacing-10 {
	letter-spacing: 0.1rem;
}