.front-page {
    box-sizing: border-box;
    padding: 50px 0 60px 0;
    gap: 40px;
}

.front-page h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.advantages-block {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 38px;
}

.solutions-block {
    box-sizing: border-box;
    padding: 40px 30px;
    border: 1px solid #C1C1C1;
    border-radius: 20px;
}

.solutions-block__list {
    gap: 20px;
}

.solutions-block__item {
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 30px 30px 50px;
    width: calc(100% / 3 - 14px);
    border-radius: 20px;
}

.solutions-block__wide-btn {
    width: 100%;
}

/* @media all and (max-width: 1881px) {
    
    .front-page {
        padding: 42px 0 50px 0;
    }
    
    .advantages-block {
        border-radius: 17px;
        padding: 32px;
        margin-bottom: 59px;
    }
    
    .solutions-block {
        margin-bottom: 50px;
    }
    
    .solutions-block__item {
        padding: 25px 25px 42px;
        border-radius: 17px;
    }

    .solutions-block__wide-btn {
        width: 294px;
    }
    
} */
